<%= form_for [@domain, @mailalias] do |f| %>
  <% if @mailalias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailalias.errors.count, "error") %> prohibited this mailalias from being saved:</h2>

      <ul>
      <% @mailalias.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain_id %><br />
    <%= collection_select :mailalias, :domain_id, Domain.all, :id, :domain %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %><span>@<%= @domain.domain %></span>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
