<% title "Mailalias for #{@domain.name}" %>

<%= form_tag domain_mailaliases_path, :method => 'get', :id => "mailaliases_search" do %>
  <div class="info_block">
    <div class="info_block_heading">
      Mailaliases for <%= @domain.name %>
      <div style="float: right;">
        <%= text_field_tag :search, session[:search] %><%= submit_tag "Search", :name => nil %>
      </div>
    </div>
    <div class="info_block_content">
      <div id="mailaliases">
        <%= render :partial => 'mailaliases' %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Mailalias', new_domain_mailalias_path %> |
<%= link_to 'Back to Domains', domains_path %>
