<h2>Aliases</h2>

<p id="notice"><%= notice %></p>

<%= form_tag domain_mailaliases_path, :method => 'get', :id => "mailaliases_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

  <div id="mailaliases">
    <%= render :partial => 'mailaliases' %>
  </div>
<% end %>

<br />

<%= link_to 'New Mail alias', new_domain_mailalias_path %><br />
<%= link_to 'Back to Domains', domains_path %>
