<h2>Aliases</h2>

<p id="notice"><%= notice %></p>

<%= form_tag domain_mailaliases_path, :method => 'get', :id => "mailaliases_search" do %>
  <div style="margin: 10px 0; overflow: hidden;">
    <div style="float: left; width: 50%;">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </div>
    <div style="float: left; width: 50%; text-align: right;">
      <%= link_to 'New Alias', new_domain_mailalias_path %>
    </div>
  </div>

  <div id="mailaliases">
    <%= render :partial => 'mailaliases' %>
  </div>
<% end %>

<br />

<%= link_to 'Back to Domains', domains_path %>
