<%= form_tag log_in_path do %>
  <div class="info_block login_box">
    <div class="info_block_heading">Login</div>
    <div class="info_block_content">
      <div class="info_block_content_padding">
        <p>An account is required to use this system. Please enter your username and password below.</p>
        <div style="text-align: center;">
          <p>
            <strong><%= label_tag :username %></strong><br />
            <%= text_field_tag :username, params[:username] %>
          </p>
          <p>
            <strong><%= label_tag :password %></strong><br />
            <%= password_field_tag :password %>
          </p>
          <p>
              <%= check_box_tag :remember_me %>
              <%= label_tag :remember_me %>
          </p>
          <p class="button"><%= submit_tag "Log in", :class => "login_button" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#username').focus();
  });
</script>
