<%= form_tag users_path, :method => 'get', :id => "users_search" do %>
  <div class="info_block">
    <div class="info_block_heading">
      Users
      <div style="float: right;">
        <%= text_field_tag :search, session[:search] %><%= submit_tag "Search", :name => nil %>
      </div>
    </div>
    <div class="info_block_content">
      <div id="users">
        <%= render :partial => 'users' %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "New user", new_user_path %>
