<h2>Users</h2>

<div style="margin: 10px 0; overflow: hidden;">
  <div style="text-align: right;">
    <%= link_to "New user", new_user_path %>
  </div>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr class="result_row<%= cycle(" odd", "") %>">
        <td><%= link_to user.id, user %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />

