<div class="info_block">
  <div class="info_block_heading">
    New User
  </div>
  <div class="info_block_content">
    <div class="info_block_content_padding">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="field">
          <strong><%= f.label :username %></strong><br />
          <%= f.text_field :username %>
        </div>

        <div class="field">
          <strong><%= f.label :password %></strong><br />
          <%= f.password_field :password %>
        </div>

        <div class="field">
          <strong><%= f.label :password_confirmation %></strong><br />
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="field">
          <strong>Domains administered</strong><br />
          <%= hidden_field_tag "user[domain_ids][]", nil %>
          <% Domain.all.each do |domain| %>
            <%= check_box_tag "user[domain_ids][]", domain.id, @user.domain_ids.include?(domain.id), id: dom_id(domain) %>
            <%= label_tag dom_id(domain), domain.name %><br>
          <% end %>
        </div>

        <p class="actions">
          <%= f.submit %> <%= link_to "Cancel", url_for(:back) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
