<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
  <tr>
    <th><%= sortable "name", "Domain" %></th>
    <th><%= sortable "created_at", "Created at" %></th>
    <th><%= sortable "updated_at", "Updated at" %></th>
    <th></th>
  </tr>

  <% @domains.each do |domain| %>
    <tr class="result_row<%= cycle(" odd", "") %>">
      <td><%= link_to domain.name, domain %></td>
      <td><%= domain.created_at %></td>
      <td><%= domain.updated_at %></td>
      <td class="actions">
        <% if admin? %>
          <%= link_to image_tag("edit_icon.png"), edit_domain_path(domain) %>
          <% if domain.deletable? then %>
            <%= link_to image_tag("delete_icon.png"), domain, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <tr class="total_row">
    <td colspan="4">Total domains: <%= @domains.count %></td>
  </tr>
</table>

<div class="info_block_content_padding">
  <%= will_paginate @domains %>
</div>
