<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :name %></strong><br />
    <%= f.text_field :name, :autocomplete => :off %>
  </div>

  <div class="field">
    <strong><%= f.label :max_mailboxes %></strong><br />
    <%= f.number_field :max_mailboxes %> <em>Enter -1 for unlimited</em>
  </div>

  <div class="field">
    <strong><%= f.label :max_mailaliases %></strong><br />
    <%= f.number_field :max_mailaliases %> <em>Enter -1 for unlimited</em>
  </div>

  <div class="field">
    <strong><%= f.label :default_mailbox_quota %></strong><br />
    <%= f.number_field :default_mailbox_quota %> KB
  </div>

  <div class="actions">
    <%= f.submit %> <%= link_to "Cancel", url_for(:back) %>
  </div>
<% end %>
