<h2>Domains</h2>

<p id="notice"><%= notice %></p>

<%= form_tag domains_path, :method => 'get', :id => "domains_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

  <div id="domains">
    <%= render :partial => 'domains' %>
  </div>
<% end %>

<br />

<%= link_to 'New Domain', new_domain_path %>
