<% title "Domains" %>

<%= form_tag domains_path, :method => 'get', :id => "domains_search" do %>
  <div class="info_block">
    <div class="info_block_heading">
      Listing domains
      <div style="float: right;">
        <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil %>
      </div>
    </div>
    <div class="info_block_content">
      <div id="domains">
        <%= render :partial => 'domains' %>
      </div>
      <div class="info_block_content_padding">
          <p><em>Note: You cannot delete domains that contain mailboxes and/or mailaliases</em></p>
        </div>
    </div>
  </div>
<% end %>

<% if admin? %>
  <%= link_to 'New Domain', new_domain_path %>
<% end %>
