<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
  <tr>
    <th><%= sortable "email" %></th>
    <th><%= sortable "last_login", "Last login" %></th>
    <th><%= sortable "quota_kb", "Quota" %></th>
    <th><%= sortable "usage_kb", "Usage" %></th>
    <th></th>
  </tr>

  <% @mailboxes.each do |mailbox| %>
    <tr class="result_row<%= cycle(" odd", "") %>">
      <td><%= link_to [mailbox.email, @domain.name].join("@"), domain_mailbox_path(@domain, mailbox) %></td>
      <td><%= mailbox.last_login %></td>
      <td><%= number_to_human_size( mailbox.quota_kb.to_i * 1024 ) %></td>
      <td><%= number_to_human_size( mailbox.usage_kb.to_i * 1024 ) %></td>
      <td class="actions">
        <%= raw build_progress_bar( mailbox.usage_kb.to_i, ( ( mailbox.quota_kb.to_i == 0 ) ? -1 : mailbox.quota_kb.to_i ), 'float:left;font-size:10px;line-height:12px;' ) %>
        <%= link_to image_tag("edit_icon.png"), edit_domain_mailbox_path(@domain, mailbox) %>
        <%= link_to image_tag("delete_icon.png"), [@domain, mailbox], :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>

  <tr class="total_row">
    <td colspan="5">Total mailboxes: <%= @mailboxes.count %></td>
  </tr>
</table>

<div class="info_block_content_padding">
  <%= will_paginate @mailboxes %>
</div>
