<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
  <tr>
    <th><%= sortable "email" %></th>
    <th><%= sortable "created_at", "Created at" %></th>
    <th><%= sortable "updated_at", "Updated at" %></th>
    <th></th>
  </tr>

  <% @mailboxes.each do |mailbox| %>
      <tr class="result_row<%= cycle(" odd", "") %>">
        <td><%= link_to [mailbox.email, @domain.name].join("@"), domain_mailbox_path(@domain, mailbox) %></td>
        <td><%= mailbox.created_at %></td>
        <td><%= mailbox.updated_at %></td>
        <td class="actions">
          <%= link_to image_tag("edit_icon.png"), edit_domain_mailbox_path(@domain, mailbox) %>
          <%= link_to image_tag("delete_icon.png"), [@domain, mailbox], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end %>

  <tr class="total_row">
    <td colspan="4">Total mailboxes: <%= @mailboxes.count %></td>
  </tr>
</table>

<div class="info_block_content_padding">
  <%= will_paginate @mailboxes %>
</div>
