<h2>Mailboxes</h2>

<p id="notice"><%= notice %></p>

<%= form_tag domain_mailboxes_path, :method => 'get', :id => "mailboxes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
  </tr>

<% @mailboxes.each do |mailbox| %>
  <tr class="result_row<%= cycle(" odd", "") %>">
    <td><%= link_to mailbox.email, domain_mailbox_path(@domain, mailbox) %></td>
    <td><%= mailbox.password %></td>
    <td><%= link_to 'Edit', edit_domain_mailbox_path(@domain, mailbox) %></td>
    <td><%= link_to 'Destroy', [@domain, mailbox], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailbox', new_domain_mailbox_path %><br />
<%= link_to 'Back to Domains', domains_path %>
