<% title "Mailbox #{@mailbox.email}" %>

<div class="info_block">
  <div class="info_block_heading">
    Mailbox: <%= @mailbox.email%>
    <div class="info_block_heading_actions">
      <%= link_to(image_tag("edit_icon_large.png"), edit_domain_mailbox_path(@domain, @mailbox)) %>
      <%= link_to image_tag("delete_icon_large.png"), [@domain, @mailbox], :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
  <div class="info_block_content">
    <div class="info_block_content_padding">
      <div style="overflow: hidden;">
        <div style="float: left; width: 50%;">
          <p>
            <strong>Email:</strong> <%= [@mailbox.email, @domain.name].join("@") %>
          </p>
          <p>
            <strong>Last login:</strong> <%= @mailbox.last_login %>
          </p>
          <p>
            <strong>Quota / Usage:</strong> <%= @mailbox.usage_kb.to_i %>KB / <%= @mailbox.quota_kb.to_i %>KB<br />
          </p>
          <%= raw build_progress_bar( @mailbox.usage_kb.to_i, ( ( @mailbox.quota_kb == 0 ) ? -1 : @mailbox.quota_kb.to_i ) ) %>
        </div>
        <div style="float: right; width: 50%;">
          <p>
            <strong>Created at:</strong> <%= @mailbox.created_at %>
          </p>
          <p>
            <strong>Updated at:</strong> <%= @mailbox.updated_at %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to mailboxes', domain_mailboxes_path %>
