<!DOCTYPE html>
<html>
<head>
  <title>VirtualMailManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div id="wrapper">
      <div id="header">
        <h1>Virtual Mail Manager</h1>
      </div>

      <div class="breadcrumbs">
        <%= render_crumbs %>
      </div>

      <%= yield %>
    </div>

</body>
</html>
